.sign-up-card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center
    url("https://cdn.pixabay.com/photo/2020/04/15/14/45/microphone-5046876_960_720.jpg");
  background-size: cover;
}
