.sign-up-card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center
    url("https://cdn.pixabay.com/photo/2017/08/03/01/22/microphone-2574511_1280.jpg");
  background-size: cover;
}
